div h5 {
    color:#0080ff;
    padding-bottom: 20px;
}
div p{
    color: black;
}
hr{
    margin-bottom: 40px;
}
div h3{
    margin-bottom: 30px
}
div ul{
    color:black;
}
div img{
    width:100%;
}

