<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtpValidation</servlet-name>
        <servlet-class>Controller.OtpValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>Controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassWordController</servlet-name>
        <servlet-class>Controller.ChangePassWordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInforAccount</servlet-name>
        <servlet-class>Controller.ChangeInforAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDAccountByAdmin</servlet-name>
        <servlet-class>Controller.CRUDAccountByAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Controller.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClassController</servlet-name>
        <servlet-class>Controller.AddClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUpload</servlet-name>
        <servlet-class>Controller.ImageUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountProfile</servlet-name>
        <servlet-class>Controller.AccountProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAvatar</servlet-name>
        <servlet-class>Controller.UpdateAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTutor</servlet-name>
        <servlet-class>Controller.UpdateTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TutorDetail</servlet-name>
        <servlet-class>Controller.TutorDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDTutorByAdmin</servlet-name>
        <servlet-class>Controller.CRUDTutorByAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountController</servlet-name>
        <servlet-class>Controller.ViewAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticePending</servlet-name>
        <servlet-class>Controller.NoticePending</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTutorPosition</servlet-name>
        <servlet-class>Controller.UpdateTutorPosition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAmountPedingnRequest</servlet-name>
        <servlet-class>Controller.GetAmountPedingnRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStatusRequest</servlet-name>
        <servlet-class>Controller.GetStatusRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TutorHomePage</servlet-name>
        <servlet-class>Controller.TutorHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryClassController</servlet-name>
        <servlet-class>Controller.ViewHistoryClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatingStarController</servlet-name>
        <servlet-class>Controller.RatingStarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TutorHomePage</servlet-name>
        <servlet-class>Controller.TutorHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryClassController</servlet-name>
        <servlet-class>Controller.ViewHistoryClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatingStarController</servlet-name>
        <servlet-class>Controller.RatingStarController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtpValidation</servlet-name>
        <url-pattern>/otpvalidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassWordController</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInforAccount</servlet-name>
        <url-pattern>/changeinfoacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDAccountByAdmin</servlet-name>
        <url-pattern>/crudacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountProfile</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUpload</servlet-name>
        <url-pattern>/imageupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAvatar</servlet-name>
        <url-pattern>/updateavatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTutor</servlet-name>
        <url-pattern>/tutorprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDTutorByAdmin</servlet-name>
        <url-pattern>/crudtutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountController</servlet-name>
        <url-pattern>/viewacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticePending</servlet-name>
        <url-pattern>/noticepending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TutorDetail</servlet-name>
        <url-pattern>/TutorDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassController</servlet-name>
        <url-pattern>/addClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTutorPosition</servlet-name>
        <url-pattern>/tutorposition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAmountPedingnRequest</servlet-name>
        <url-pattern>/amountpending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStatusRequest</servlet-name>
        <url-pattern>/statusrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TutorHomePage</servlet-name>
        <url-pattern>/tutorhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryClassController</servlet-name>
        <url-pattern>/viewhistoryclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatingStarController</servlet-name>
        <url-pattern>/rating</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
